* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Nunito', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #008783;
}

/*--------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- HEADER ---------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------*/

header nav .nav-bar {
    position: fixed;
    background-color: white;
    margin: 0 auto;
    left: 0; 
    right: 0;
    top: 10px;
    border-radius: 50px;
    width: 1400px;
    height: 80px;
    box-shadow: 1px 1px 5px black;
    z-index: 2000;
}

    header nav .nav-bar img {
        position: relative;
        top: 5px;
        width: 80px;
    }

    header nav .nav-bar .nav-content {
        position: relative;
        margin: 0 auto;
        text-align: center;
    }

        header nav .nav-bar .nav-content ul {
            display: inline-block;
            position: relative;
            top: -25px;
            width: 40%;
        }

            header nav .nav-bar .nav-content ul li {
                display: inline-block;
                height: 80px;
                width: 48%;
            }

            header nav .nav-bar .nav-content ul li a {
                position: relative;
                display: block;
                line-height: 80px;
                height: 80px;
                transition: .2s;
            }

                header nav .nav-bar .nav-content ul li a:hover {
                    background-color: orange;
                    color: white;
                    transition: .2s;
                }

/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------- LISTA ACTIVIDADES ---------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

.page-container {
    position: relative;
    margin: 0 auto;
    width: 1350px;
}

main{
    margin: 0 auto;
}

main aside .index-levels{
    background-color: white;
    position: fixed;
    top: 110px;
    height: 600px;
    width: 250px;
    border-radius: 10px;
    overflow-y: scroll;
}

main aside .index-levels::-webkit-scrollbar{
    display: none;
}

main aside .index-levels .index{
    width: 210px;
    font-family: sans-serif;
    margin: 20px;
}

main aside .index-levels .index .level:first-child p{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

main aside .index-levels .index .level:last-child p{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main aside .index-levels .index .level, main aside .index-levels .index .level .topics li{
    cursor: pointer;
}

main aside .index-levels .index .level p{
    font-size: 30px;
    border: 2px dashed black;
    text-align: center;
    background: rgb(25,25,204);
    background: linear-gradient(180deg, rgba(25,25,204,1) 0%, rgba(25,108,204,1) 25%, rgba(25,144,204,1) 50%, rgba(25,192,204,1) 75%, rgba(25,204,176,1) 100%);
}

main aside .index-levels .index .level .topics{
    margin: 0px 10px;
    line-height: 30px;
    font-size: 20px;
    width: 190px;
    transition: .7s;
    height: 0px;
    overflow: hidden;
}

.abrir{
    height: auto !important;
}

main aside .index-levels .index .level .topics li:last-child{
    margin-bottom: 10px;
}

main aside .index-levels .index .level .topics li:hover{
    background: #00efff;
    color: #040404;
    font-weight: 900;
}

main aside .index-levels .index .level .topics li{
    border-bottom: 2px solid black;
    color: white;
    background: linear-gradient(180deg, rgba(25,204,143,0.8393635041907388) 0%, rgba(25,204,53,0.8113522997089461) 25%, rgba(54,204,25,0.8141534201571253) 50%, rgba(125,205,25,0.8169545406053046) 75%, rgba(221,255,0,0.7609321316417192) 100%);
    margin: 5px 0px;
}

main .activities-container {
    background-color: white;
    position: relative;
    top: 110px;
    height: 120px;
    width: 1050px;
    border-radius: 10px;
    float: right;
}

    main .activities-container .topico-cont {
        position: relative;
        top: 15px;
        width: 100%;
        height: 50px;
        text-align: center;
        border-bottom: solid 3px rgba(185, 120, 0, 0.801);
    }

    main .activities-container .nivel-cont {
        position: relative;
        top: 10px;
        width: 100%;
        height: 50px;
        text-align: center;
        border-bottom: solid 3px rgba(185, 120, 0, 0.801);
    }

    main .activities-container .activities-box {
        position: relative;
        top: 30px;
        background-color: rgb(221, 238, 255);
        margin: 10px 0px auto;
        height: auto;
        width: 100%;
        border-radius: 10px;
        text-align: left;
    }

        main .activities-container .activities-box .activities-titulo {
            position: relative;
            margin: 0 auto;
            width: 95%;
            top: 10px;
            height: auto;
            border-bottom: solid 2px black;
        }

            main .activities-container .activities-box .activities-titulo h2 {
                height: 25px;
            }

        main .activities-container .activities-box .activities-descripcion {
            position: relative;
            margin: 0 auto;
            width: 95%;
            top: 15px;
            min-height: 115px;
        }

        .hidden-class {
            display: visible;
        }

        .visible-class {
            display: block;
        }

            main .activities-container .activities-box .activities-descripcion p {
                height: auto;
            }

            main .activities-container .activities-box .activities-descripcion button {
                position: relative;
                top: 5px;
                width: 120px;
                height: 20px;
            }

        main .activities-container .activities-box .activities-respuesta {
            display: none;
            height: 130px;
            width: 95%;
            top: 15px;
        }

            main .activities-container .activities-box .activities-respuesta .select-nino {
                position: absolute;
                width: 100%;
                left: 25px;
                bottom: 100px;
            }

                main .activities-container .activities-box .activities-respuesta .select-nino select {
                    width: 95%;
                }

            main .activities-container .activities-box .activities-respuesta .subir-archivos {
                position: absolute;
                width: 100%;
                height: 60px;
                bottom: 20px;
            }

        main .activities-container .activities-box .activities-respuesta .archivos {
            position: absolute;
            bottom: 0;
            margin-bottom: 5px;
            margin-left: 10px;
        }

        main .activities-container .activities-box .activities-respuesta .enviar {
            position: absolute;
            width: 100px;
            height: 30px;
            right: 30px;
            bottom: 5px;
        }

        .file-upload {
            position: absolute;
            bottom: 10px;
            left: 5px;
            width: 100%;
            height: 60px;
            padding: 20px;
        }
        
        .file-upload-btn:active {
            border: 0;
            transition: all .2s ease;
        }

        .file-upload-content {
            display: none;
            text-align: center;
        }

        .file-upload-input {
            position: absolute;
            margin: 0;
            padding: 0;
            width: 100%;
            height: 100%;
            outline: none;
            opacity: 0;
            cursor: pointer;
        }
        
        .image-upload-wrap {
            border: 4px dashed #040404;
            position: absolute;
            top: 0;
            border-radius: 10px;
            width: 95%;
            height: 60px;
        }

        .image-dropping,
        .image-upload-wrap:hover {
            background-color: #00000089;
            border: 4px dashed #ffffff;
            color: white;
        }

        .image-title-wrap {
            padding: 0 15px 15px 15px;
            color: #222;
        }

        .drag-text {
            text-align: center;
            height: 60px;
        }

        .drag-text h3 {
            font-weight: 100;
            text-transform: uppercase;
            color: #000000;
            padding: 15px 0;
        }

        .file-upload-image {
            max-height: 200px;
            max-width: 200px;
            margin: auto;
            padding: 20px;
        }