*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

header{
    width: 100%;
    height: 42px;
    background-color: #008783;
    padding: 8px 16px 8px 0px;
}

.user{
    display: inline-block;
    width: 50px;
    background-color: white;
    border: 2px solid gray;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 35px;
    text-align: center;
}

.options{
    float: right;
    position: relative;
    margin-right: 10px;
}

.settings{
    display: none;
    position: absolute;
    right: 0px;
    width: 190px;
    font-family: sans-serif;
    font-size: 22px;
    background-color: lightgray;
    text-align: left;
    z-index: 9999;
}

.settings li, .settings li a{
    border-bottom: 3px solid black;
    color: black;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}

.settings li:hover, .settings li:hover a{
    color: darkblue;
}

.user:hover .settings{
    display: block;
}

aside{
    float: left;
    background-color: #008783;
    width: 15%;
}

.logo-denver, .logo-denver img{
    width: 100%;
    
}

nav{
    width: 100%;
    text-align: center;
}

.menu{
    font-family: sans-serif;
    padding: 25px;
    list-style-type: none;
}

.menu li{
    margin: 40px 0px;
    height: 30px;
    background-color: aliceblue;
    border: 4px solid darkblue;
    border-radius: 15px;
}

.menu li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.menu li:hover a{
    color: darkcyan;
}